<form method="post" action="/update">
    <table style="width: 60%; margin-left:20%; text-align: center; margin-top: 8%; height: 50vh; border: 5px dotted skyblue;">
        <tr>
            <td>No</td>
            <td><input type="text" style="height: 99%; width: 100%;" name="no" value="<%=editData.no%>" placeholder="Enter sr.no" ></td>
        </tr>
        <tr>
            <td>Title</td>
            <td><input type="text" style="height: 99%; width: 100%;" name="name" value="<%=editData.title%>" placeholder="Enter name"></td>
        </tr>
        <tr>
            <td>Author</td>
            <td><input type="text" style="height: 99%; width: 100%;" name="grid"value="<%=editData.author%>" placeholder="Enter grid"></td>
        </tr>
        <tr>
            <td>Type</td>
            <td><input type="text" style="height: 99%; width: 100%;" name="grid"value="<%=editData.type%>" placeholder="Enter grid"></td>
        </tr>
        <tr>
            <td ></td>
            <td><button type="submit" style="height: 35px; margin-left: -200px; margin-top: 6px; width: 150px; background-color: skyblue; border: none; border-radius: 10px;">Update-Data</button></td>
        </tr>
    </table>

</form>